<h1>Welcome to Playlister</h1>

<h4>Menu</h4>
<ul>
    <li><a href="/songs/new">Make a new song</a></li>
    <li><a href="/songs">List all the songs</a></li>
    <li><a href="/artists">List all the artists</a></li>
    <li><a href="/genres">List all the genres</a></li>
</ul>